$secondary: #141259;
$background: #f2b705;
$primary: #2703a6;
$stand-in: #f29f05;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $background;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $stand-in;
}
@mixin mobile {
  @media screen and (max-width: 780px) {
    @content;
  }
}
html {
  scroll-behavior: smooth;
  cursor: grabbing;
}
body {
  width: 100%;

  background-color: $secondary;
  font-family: "Poppins", sans-serif;
  transition: 0.2s ease-in-out;

  header {
    position: sticky;
    width: 100%;
    height: 8vh;
    // background-color: $stand-in;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .navlinks {
      display: flex;
      justify-content: space-between;
      width: 40%;
      list-style: none;
      color: white;
      li {
        padding: 4px 20px;
        // border-top-left-radius: 50%;
        // border-bottom-right-radius: 50%;
        transition: 0.2s;
        // clip-path: polygon(13% 0, 100% 0, 87% 100%, 0% 100%);
        cursor: pointer;
        // border: 3px solid $background;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover {
          background-color: $background;
          transform: translateY(-4px);
          color: $primary;
          box-shadow: -5px 5px rgba($color: white, $alpha: 1);
        }
        &:active {
          transform: translateY(0);
          box-shadow: none;
        }
      }
      @include mobile() {
        display: none;
      }
    }
  }
  main {
    width: 100%;

    section {
      position: relative;
      .landing {
        position: relative;
        width: 100%;
        height: 700px;
        display: flex;

        align-items: center;

        padding: 0 12%;
        @include mobile() {
          padding: 0 5%;
          margin-bottom: 30px;
          height: 500px;
        }
        .text {
          z-index: 1;
          position: absolute;

          line-height: 30px;
          left: 12%;
          @include mobile() {
            position: relative;
            left: 0;
          }
          h1 {
            margin-bottom: 50px;
            line-height: 5rem;
            font-size: 7rem;
            color: white;
            letter-spacing: 5px;
            @include mobile() {
              line-height: 2rem;
              font-size: 2em;
              margin-bottom: 20px;
            }
          }
          p {
            font-size: 1.3em;
            span {
              font-weight: 700;
              color: $background;
            }
            color: white;
            letter-spacing: 1px;
            font-weight: 500;
          }
        }
      }
      .about {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
        height: 400px;
        margin: auto;
        background-color: white;

        padding: 100px 12%;
        z-index: 2;
        @include mobile() {
          clip-path: none;
          padding: 50px 8%;
        }
        div {
          width: 300px;

          clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
          background-color: $secondary;
          @include mobile() {
            width: 160px;
          }
        }
        h1 {
          z-index: 1;
          width: 100%;
          text-align: left;

          font-weight: 700;
          font-size: 3em;
          padding: 0px 14px;
          color: rgb(255, 255, 255);
          @include mobile() {
            font-size: 1.5em;
          }
        }
        p {
          color: $secondary;
          font-size: 1.2em;
          padding-top: 40px;
          line-height: 2rem;
          span {
            letter-spacing: 1px;
            font-weight: 900;
            color: $primary;
          }
          @include mobile() {
            font-size: 1em;
          }
        }
      }
      .contact {
        width: 100%;
        height: 300px;
        padding: 40px 12%;
        @include mobile() {
          padding: 40px 8%;
          height: 250px;
        }
        h1 {
          color: white;
          font-size: 3em;
          padding-bottom: 20px;
          @include mobile() {
            font-size: 1.5em;
          }
        }
        p {
          font-size: 1.2em;
          color: white;
          padding: 6px 0;
          a {
            text-decoration: none;
            color: $background;
          }
          @include mobile() {
            font-size: 1em;
          }
        }
        .opt-container {
          .options {
            display: flex;
            justify-content: space-between;
            p {
              font-size: 1rem;
            }
          }
          @include mobile() {
            width: 100%;
          }
        }
      }
    }
    footer {
      height: 5vh;
      p {
        color: white;
        text-align: center;
        @include mobile() {
          font-size: 0.7em;
        }
      }
    }
  }
}
