@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin responsive {
    @media screen and (max-width:768px) {
        @content;
    }

}

body {

    width: 100%;
    height: 100vh;

    background-color: rgb(225, 239, 255);

    section {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 100px;

        .primary {
            height: 30%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            @include responsive() {
                display: none;
            }

            h1 {
                font-family: 'Ubuntu', sans-serif;

                font-size: 35px;
                color: green;



                span {
                    color: #ff4242;
                }
            }

            .filename {
                color: black;
            }

            .child {
                transform: translateX(50px);
            }




        }

        .primary-mobile {
            display: none;

            @include responsive() {
                display: flex;
                justify-content: space-around;
                align-items: left;
                height: 30%;
                flex-direction: column;
                font-family: 'Ubuntu', sans-serif;


                h2 {
                    font-size: 25px;

                    .key {
                        color: #ff4242;
                    }

                    .value {
                        color: green;
                    }
                }

            }
        }

        .secondary {
            @include responsive() {
                display: none;
            }

            height: 50%;

            img {
                padding: 0;
                width: 700px;

            }
        }


    }
}